/*......footer......*/

.footer {
    background-color: rgb(161, 189, 163);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

    h3 {
        font: size 35px;
    }
}