/*...........header...............*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    grid-template-areas:
        "header";

    nav {
        ul {

            li {
                display: inline-block;
                margin: 15px;
                font-size: 55px;
                font-style: italic;
                font-size: 30px;
                text-align: right;

                a {
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    font-size: 30px;
                }

            }



        }

    }
}



.t {
    font-style: oblique;
    font-size: 65px;
    text-align: left;
    color: pink;

}